<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>秒杀商品列表页</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/goods.css}">
</head>
<body>

<!--<h1>商品列表</h1>-->
<!--<br/>-->
<!--<table class="table table-hover">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>商品名称</th>-->
<!--        <th>商品类型</th>-->
<!--        <th>商品原价</th>-->
<!--        <th>商品图片</th>-->
<!--        <th>秒杀价</th>-->
<!--        <th>库存数量</th>-->
<!--        <th>详情</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="goodsVo:${goodsList}">-->
<!--        <td th:text="${goodsVo.goodsName}"></td>-->
<!--        <td th:text="${goodsVo.goodsType}"></td>-->
<!--        <td th:text="${goodsVo.price}"></td>-->
<!--        <td>-->
<!--            <img th:src="@{${goodsVo.imgPath}}" width="100" height="100">-->
<!--        </td>-->
<!--        <td th:text="${goodsVo.seckillPrice}"></td>-->
<!--        <td th:text="${goodsVo.stockNum}"></td>-->
<!--        <td>-->
<!--            <a th:href="'/goodsDetail/'+${goodsVo.goodsId}">详情</a>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<div class="seckill_content">
  <div class="title"><h2>秒杀商品列表</h2></div>
  <div class="all_seckill_goods">
    <div class="seckill_goods" th:each="goodsVo: ${goodsList}">
      <h4 th:text="${goodsVo.goodsName}"></h4>
      <img th:src="@{${goodsVo.imgPath}}" width="250" height="270"/>
      <br/><br/>
      <div class="seckill_price">
        <p th:text="${goodsVo.goodsType}"></p>
        <p>
          <span class="price1" th:text="${goodsVo.seckillPrice}+'元  '"></span>
          <del><span class="price2" th:text="${goodsVo.price}+'元'"></span></del>
        </p>
        <a th:href="'/goodsDetail/'+${goodsVo.goodsId}">
          <button class="btn btn-default" type="submit">进入详情页...</button>
        </a>

      </div>
    </div>
  </div>

</div>

</body>
</html>